@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");
/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   version 2.4
 *
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
h3,
h4,
h5 {
  margin-top: 5px;
  font-weight: 600;
}	
.avejana-content.text-box {
  padding-bottom: 0;
  padding-top: 15px;
}

.avejaqna-super-main {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

.avejana-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}
.text-muted {
  color: #888888;
}
@media (max-width: 992px) {
  .chat-users,
  .chat-statistic {
    margin-left: 0;
  }
}
.chat-view .avejana-content {
  padding: 0;
}
.chat-message {
  padding: 10px 20px;
}
.message-avatar {
  height: 48px;
  width: 48px;
  border: 1px solid #e7eaec;
  border-radius: 4px;
  margin-top: 1px;
}
.chat-discussion .chat-message.left .message-avatar {
  float: left;
  margin-right: 10px;
}
.chat-discussion .chat-message.right .message-avatar {
  float: right;
  margin-left: 10px;
}
.message {
  background-color: #fff;
  border: 1px solid #e7eaec;
  text-align: left;
  display: block;
  padding: 10px 20px;
  position: relative;
  border-radius: 4px;
}
.chat-discussion .chat-message.left .message-date {
  float: right;
}
.chat-discussion .chat-message.right .message-date {
  float: left;
}
.chat-discussion .chat-message.left .message {
  text-align: left;
  margin-left: 55px;
}
.chat-discussion .chat-message.right .message {
  text-align: right;
  margin-right: 55px;
}
.message-date {
  font-size: 10px;
  color: #888888;
}
.message-content {
  display: block;
}
.chat-discussion {
  background: #eee;
  padding: 15px;
  height: 400px;
  overflow-y: auto;
}
.chat-users {
  overflow-y: auto;
  height: 400px;
}
.chat-message-form .form-group {
  margin-bottom: 0;
}
/* CLIENTS */
.clients-list {
  margin-top: 20px;
}
.clients-list .tab-pane {
  position: relative;
  height: 600px;
}
.client-detail {
  position: relative;
  height: 620px;
}
.clients-list table tr td {
  height: 46px;
  vertical-align: middle;
  border: none;
}
.client-link {
  font-weight: 600;
  color: inherit;
}
.client-link:hover {
  color: inherit;
}
.client-avatar {
  width: 42px;
}
.client-avatar img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.contact-type {
  width: 20px;
  color: #c1c3c4;
}
.client-status {
  text-align: left;
}
.client-detail .vertical-timeline-content p {
  margin: 0;
}
.client-detail .vertical-timeline-icon.gray-bg {
  color: #a7aaab;
}
.clients-list .nav-tabs > li.active > a,
.clients-list .nav-tabs > li.active > a:hover,
.clients-list .nav-tabs > li.active > a:focus {
  border-bottom: 1px solid #fff;
}
/* Social feed */
.avejana-review-feld .avejana-feed {
  margin-left: 62px;
  border: none;
}
.avejana-review-feld .avejana-initial {
  float: left;
  padding: 0;
}
.avejana-review-feld .avejana-initial img {
  width: 52px;
  height: 52px;
  border: 1px solid #e7eaec;
}
.avejana-review-feld .avejana-feed .avejana-initial {
  padding:  0;
  float: none;
}
.avejana-feed {
  /*padding: 15px;*/
  border: 1px solid #e7eaec;
  background: #fff;
  margin-bottom: 15px;
}
.article .avejana-feed {
  margin-bottom: 0;
  border-bottom: none;
}
.article .avejana-feed:last-child {
  margin-bottom: 0;
  border-bottom: 1px solid #e7eaec;
}
.article .avejana-feed p {
  font-size: 13px;
  line-height: 18px;
}
.avejana-initial {
  padding: 15px 15px 0 15px;
}
.social-comment .social-comment {
  margin-left: 45px;
}
.avejana-initial img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.avejana-initial .media-body a {
  font-size: 14px;
  display: block;
}
.avejana-tweet {
  padding: 15px 0;
}
.avejana-tweet img {
  margin-bottom: 10px;
}
svg
{fill:#808080; cursor: pointer;}
svg:hover,svg:focus,svg:active
{fill:#3B5998;}
@media only screen and (max-width:760px){
	.avejana-small-star
	{
		float: left !important;
		width:100% !important;
	}
	#avejana-widget-gallery
	{
			width: 100% ; font-family: 'Helvetica';margin: 0 auto;
	}
	.name-date
	{
		font-size:12px;
	}
	.avejana-five-star
	{
		margin: 10px auto;
	}
	.big-star
	{
		margin-top: 15px;
	}
}
@media only screen and (min-width:760px){
	.avejana-small-star
	{
		 top: 0; right: 10px;
	}
	.avejana-feed
	{
		border: none; margin-right: 15px
	}
	#avejana-widget-gallery
	{
			width: 75% ; font-family: 'Helvetica';margin: 0 auto;
	}
}