<?xml version="1.0"?>
<config>

	<modules>
		<Avejana_ReviewAndQA>
			<version>0.1.0</version>
		</Avejana_ReviewAndQA>
	</modules>
	
	<frontend>
		<routers>
			<reviewandqa>
				<use>standard</use>
				<args>
					<module>Avejana_ReviewAndQA</module>
					<frontName>reviewandqa</frontName>
				</args>
			</reviewandqa>
		</routers>
		<layout>
			<updates>
				<reviewandqa>
					<file>reviewandqa_frontend.xml</file>
				</reviewandqa>
			</updates>
		</layout>
	</frontend>
	
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Avejana_ReviewAndQA before="Mage_Adminhtml">Avejana_ReviewAndQA_Adminhtml</Avejana_ReviewAndQA>
					</modules>
					<frontName>reviewandqa</frontName>
				</args>
			</adminhtml>
		</routers>
	</admin>
	
	<adminhtml>
		<translate>
			<modules>
				<Avejana_ReviewAndQA>
					<files>
						<default>Avejana_ReviewAndQA.csv</default>
					</files>
				</Avejana_ReviewAndQA>
			</modules>
		</translate>
		<layout>
			<updates>
				<reviewandqa>
					<file>reviewandqa_adminhtml.xml</file>
				</reviewandqa>
			</updates>
		</layout>
	</adminhtml>
	
	<global>
		<helpers>
			<reviewandqa>
				<class>Avejana_ReviewAndQA_Helper</class>
			</reviewandqa>
		</helpers>
		<blocks>
			<reviewandqa>
				<class>Avejana_ReviewAndQA_Block</class>
			</reviewandqa>
			<catalog>
				<rewrite>
					<product_view_tabs>Avejana_ReviewAndQA_Block_Product_View_Tabs</product_view_tabs>
					<product_view>Avejana_ReviewAndQA_Block_Catalog_Product_View</product_view>
				</rewrite>
			</catalog>
			<review>
				<rewrite>
					<form>Avejana_ReviewAndQA_Block_Form</form>
				</rewrite>
			</review>
			<review>
				<rewrite>
					<helper>Avejana_ReviewAndQA_Block_Helper</helper>
				</rewrite>
			</review>
			<review>
				<rewrite>
					<product_view_list>Avejana_ReviewAndQA_Block_Product_View_Reviews</product_view_list>
				</rewrite>
			</review>
			<review>
				<rewrite>
					<product_view>Avejana_ReviewAndQA_Block_Product_View</product_view>
				</rewrite>
			</review>
		</blocks>
		<models>
			<reviewandqa>
				<class>Avejana_ReviewAndQA_Model</class>
				<resourceModel>reviewandqa_mysql4</resourceModel>
			</reviewandqa>
			<reviewandqa_mysql4>
				<class>Avejana_ReviewAndQA_Model_Mysql4</class>
				<entities>
					<replies>
						<table>avejana_reviews_replies</table>
					</replies>
					<orderfldmap>
						<table>avejana_orderfldmap</table>
					</orderfldmap>
					<questions>
						<table>avejana_questions</table>
					</questions>
				</entities>
			</reviewandqa_mysql4>
		</models>
		<resources>
			<reviewandqa_setup>
				<setup>
					<module>Avejana_ReviewAndQA</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</reviewandqa_setup>
			<reviewandqa_write>
				<connection>
					<use>core_write</use>
				</connection>
			</reviewandqa_write>
			<reviewandqa_read>
				<connection>
					<use>core_read</use>
				</connection>
			</reviewandqa_read>
		</resources>
		<events>
		
			<controller_action_postdispatch_review_product_post>
				<observers>
					<export_review_to_avejana>
						<type>singleton</type>
						<class>Avejana_ReviewAndQA_Model_Observer</class>
						<method>export_review_to_avejana</method> 
					</export_review_to_avejana>
				</observers>
			</controller_action_postdispatch_review_product_post>
			
			<controller_action_predispatch_catalog_product_view>
				<observers>
					<get_reviews_replies_from_avejana>
						<type>singleton</type>
						<class>Avejana_ReviewAndQA_Model_Observer</class>
						<method>get_reviews_replies_from_avejana</method> 
					</get_reviews_replies_from_avejana> 
					<get_questions_answers_from_avejana>
						<type>singleton</type>
						<class>Avejana_ReviewAndQA_Model_Observer</class>
						<method>get_questions_answers_from_avejana</method> 
					</get_questions_answers_from_avejana>
					<add_snippets_on_product_page>
                        <type>singleton</type>
                        <class>Avejana_ReviewAndQA_Model_Observer</class>
                        <method>add_snippets_on_product_page</method>
                    </add_snippets_on_product_page>
				</observers>
			</controller_action_predispatch_catalog_product_view>
			
			<controller_action_postdispatch_catalog_product_view>
				<observers>
					<send_product_view_count>
						<type>singleton</type>
						<class>Avejana_ReviewAndQA_Model_Observer</class>
						<method>send_product_view_count</method> 
					</send_product_view_count> 
				</observers>
			</controller_action_postdispatch_catalog_product_view>
			
			<catalog_product_save_after>
				<observers>
					<export_product_to_avejana_after_save>
						<type>singleton</type>
						<class>Avejana_ReviewAndQA_Model_Observer</class>
						<method>export_product_to_avejana_after_save</method>
					</export_product_to_avejana_after_save>
				</observers>
			</catalog_product_save_after>
			
			<sales_order_place_after>
				<observers>
					<export_order_to_avejana_after_place>
						<type>singleton</type>
						<class>Avejana_ReviewAndQA_Model_Observer</class>
						<method>export_order_to_avejana_after_place</method> 
					</export_order_to_avejana_after_place> 
				</observers>
			</sales_order_place_after>
			
			<questions_controller_submit_after>
				<observers>
					<export_question_to_avejana>
						<type>singleton</type>
						<class>Avejana_ReviewAndQA_Model_Observer</class>
						<method>export_question_to_avejana</method> 
					</export_question_to_avejana>
				</observers>
			</questions_controller_submit_after>
	        
		</events>
		<template>
			<email>
				<question_answer translate="label" module="reviewandqa">
					<label>Product Answer</label>
					<file>reviewandqa/question_answer.html</file>
					<type>html</type>
				</question_answer>
				<question_notification translate="label" module="reviewandqa">
					<label>Product QA Notification</label>
					<file>reviewandqa/question_notification.html</file>
					<type>html</type>
				</question_notification>
			</email>
		</template>
	</global>
	
	<crontab>
		<jobs>             
			<reviewandqa_product_cron>
				<schedule><cron_expr>* * * * *</cron_expr></schedule>
				<run><model>reviewandqa/observer::exportProductCron</model></run>
			</reviewandqa_product_cron>
		</jobs>
	</crontab> 
	
</config>