<?xml version="1.0" ?>
<config>
	<tabs>
		<avejana translate="label" module="reviewandqa">
			<label>TECH BINGE EXTENSIONS</label>
			<sort_order>0</sort_order>
		</avejana>
	</tabs>
	<sections>
		<reviewssection translate="label" module="reviewandqa">
			<class>separator-top</class>
			<label>Avejana Reviews Settings</label>
			<tab>avejana</tab>
			<sort_order>1</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<settings translate="label">
					<label>General Settings</label>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<enabled translate="label">
							<label>Enabled Avejana Reviews</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</enabled>
					</fields>
				</settings>
			</groups>
		</reviewssection>
		
		<questionssection translate="label" module="reviewandqa">
            <class>separator-top</class>
            <label>Avejana Q&amp;A Settings</label>
            <tab>avejana</tab>
            <frontend_type>text</frontend_type>
            <sort_order>2</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>                  
                    	<enabled translate="label">
							<label>Enabled Avejana Q&amp;A</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</enabled>      
                        <send_email translate="label">
                            <label>Send Email to User</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Automatically email the answer to user after a question is answered</comment>
                        </send_email>
                        <send_notification translate="label">
                            <label>Send Notification Email</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Automatically send a notification email after a question is posted</comment>
                        </send_notification>
                        <notification_email translate="label">
                            <label>Send Notification Emails To</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Email address where the notification email is sent</comment>
                        </notification_email>
                    </fields>
                </general>
            </groups>
        </questionssection>
		
		<tabssection translate="label" module="reviewandqa">
			<label>Tabs Settings</label>
			<tab>avejana</tab>
			<frontend_type>text</frontend_type>
			<sort_order>3</sort_order>
			<show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store> 
			<groups>
				<general translate="label">
					<label>General settings</label>
					<frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
					<fields>
						<reviews translate="label">
                            <label>Avejana Reviews In Tabs</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </reviews>
                        <questions translate="label">
                            <label>Avejana Q&amp;A In Tabs</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>2</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </questions>
                        <description translate="label">
                            <label>Description In Tabs</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>3</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </description>
                        <additional translate="label">
                            <label>Additional Information In Tabs</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>4</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </additional>                        
                        <where_is_show_logo translate="label">
							<label>Select Avejana Logo Position on Review Tab</label>
							<frontend_type>select</frontend_type>
							<sort_order>6</sort_order>
							<source_model>reviewandqa/system_config_source_Showlogo</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</where_is_show_logo>                        
                    </fields>
				</general>
			</groups>
		</tabssection>
		
        <apiconfig translate="label" module="reviewandqa">
			<label>API Configuration</label>
			<tab>avejana</tab>
			<sort_order>4</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<configurations translate="label">
					<label>Avejana API Configuration</label>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<user_id translate="label comment">
							<label>User ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>User ID of Avejana</comment>
						</user_id>
						<company_id translate="label comment">
							<label>Company ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>Company ID provided by Avejana</comment>
						</company_id>
						<api_key translate="label comment">
							<label>API Key</label>
							<frontend_type>password</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>Avejana Rest API key</comment>
						</api_key>						
					</fields>
				</configurations>
				<review_api translate="label">
					<label>Review URL Configuration</label>
					<sort_order>2</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<send_url translate="label comment">
							<label>Review Send API URL</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>Review send API URL of Avejana</comment>
						</send_url>
						<reply_url translate="label comment">
							<label>Replies of Review API URL</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>Replies of Review API URL of Avejana</comment>
						</reply_url>
									
					</fields>
				</review_api>
				<qa_api translate="label">
					<label>Question URL Configuration</label>
					<sort_order>3</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<send_url translate="label comment">
							<label>Question API URL</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>Question send API URL of Avejana</comment>
						</send_url>
						<reply_url translate="label comment">
							<label>Answer of Question API URL</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>Answer of Question API URL of Avejana</comment>
						</reply_url>
									
					</fields>
				</qa_api>
				<pageviews_api translate="label">
					<label>Page views URL Configuration</label>
					<sort_order>4</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<send_url translate="label comment">
							<label>Page views API URL</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>Page views API URL of Avejana</comment>
						</send_url>
					</fields>
				</pageviews_api>
				<product_create_api translate="label">
					<label>Product Create URL Configuration</label>
					<sort_order>5</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<send_url translate="label comment">
							<label>Product Create API URL</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>Product Create API URL of Avejana</comment>
						</send_url>
					</fields>
				</product_create_api>
				<sales_api translate="label">
					<label>Sales URL Configuration</label>
					<sort_order>6</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<send_url translate="label comment">
							<label>Sales API URL</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>Sales API URL of Avejana</comment>
						</send_url>
					</fields>
				</sales_api>
			</groups>
		</apiconfig>
		
		<!--<richsnippets module="reviewandqa" translate="label">
            <label>Rich Snippets</label>
            <tab>avejana</tab>
            <frontend_type>text</frontend_type>
            <sort_order>5</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general>
                    <label>General Settings</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>10</sort_order>
                    <fields>
                        <enabled translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>                        
                    </fields>
                </general>
            </groups>
        </richsnippets>-->
	</sections>
</config>