.extra-tabs {width: 100%; overflow: hidden; margin: 0!important; padding-top: 2px;}
.extra-tabs li {
    float: left;
    list-style: none;
    border: solid 1px #ddd;
    margin-left: 2px;
    background-color: #eee;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}
.avejana-review .detail {
    line-height: 20px;
}
.avejana-review {
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 10px;
    padding-bottom: 3px;
}
.avejana-review:last-child {
    border-bottom: medium none;
}
.avejana_link, .awejana-logo{
        font-size:12px;float:left;
}
.aveja-logo-holder.bottom_left, .aveja-logo-holder.bottom_center,.aveja-logo-holder.bottom_right,{
    margin-bottom: 5px;padding-bottom: 5px;
}
.awejana-logo{
        margin-left:5px;
}
.avejana_link{
        margin-top:3px; 
}
.bottom_left .avejana_link, .top_left .avejana_link{
    margin-left:20px;
}
.avejana-rating-summary-right{
    width: 200px;float:left;
    text-align:right;
}
.aveja-logo-holder.bottom_right, .aveja-logo-holder.bottom_center, .aveja-logo-holder.bottom_left {
    bottom: 10px;
}
.review_header_div{
    width:70%;float:left;
}
.extra-tabs li.first {margin-left: 0;}
.extra-tabs a {
    display: block;
    padding: .91em 22px;
    font-size: 1em;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #888;
    text-decoration: none;
    position: relative;
    font-weight: bold;
    letter-spacing: -1px;
}
.extra-tabs li:hover {background-color: #ddd;}
.extra-tabs .active {background-color: #fff; border-color: #ddd; border-bottom-color: #fff;}
.extra-tabs .active a,
.extra-tabs li:hover a {color: #222;}
.extra-tabs-content {
    padding: 1.5em;
    border: solid 1px #ddd;
    margin-top: -1px;
    font-size: 1em;
    color: #4c4c4c;
    line-height: 1.5em;
}
.extra-tabs-content h2 { display:none; font-size:12px; font-weight:bold; }
.extra-tabs-content .box-collateral{padding: 0; border: none;}


.avejana-review-top-links {
    display: inline-block;
    width: 100%;
}
.review-form-link {
    float: left;
    width: 200px;
}
.avejana-rating-summary {
    display: inline-flex;
    float: right;
    line-height: 1;
}
.avejana-review-count {
    margin: 0 5px 0 0;
}
.avejana-rating-summary .ratings-table {
    margin: 0 0 0 5px;
}
.avejana-review .review-section {
    display: inline-block;
    width: 100%;
}
.review-info {
    float: left;
    width: auto;
}
.avejana-review .ratings-table {
    float: left;
    height: 20px;
    line-height: 1;
}
.rview-title.ref-link {
    float: left;
    width: 100%;
    line-height: 1;
    margin: 5px 0; 
    font-weight: bold;
}   
.avejana-review .reviewer {
    font-size: 16px;
    font-weight: bold;
}
.avejana-review .post-date {
    margin: 0 5px;
}
.review-descripition {
    float: left;
    width: 100%;
    line-height: 1;
    margin: 5px 0;
}

.avejana-header {
    color: #1db7a1;
    font-weight: bold;
}
.response-section {
    text-indent: 20px;
}
.response-info {
    line-height: 1;
    margin: 5px 0;
}
.response {
    line-height: 1;
    margin: 5px 0;
}
.show-logo-review {
    display: none !important;
}
.extra-tabs-content{
    position: relative;
}
.aveja-logo-holder {
    position: absolute;
   
}
.aveja-logo-holder.top_right, .aveja-logo-holder.top_center, .aveja-logo-holder.top_left{
    top: 0;
}
.aveja-logo-holder.top_left{
    left: 0;
}
.aveja-logo-holder.top_right{
    right: 0;
}
.aveja-logo-holder.top_center{
    left: 45%;
}
#customer-reviews.top_right,  #customer-reviews.top_center, #customer-reviews.top_left{
    margin-top: 15px;
}
.aveja-logo-holder.bottom_right, .aveja-logo-holder.bottom_center, .aveja-logo-holder.bottom_left{
    bottom: 0;
}
.aveja-logo-holder.bottom_left{
    left: 0;
}
.aveja-logo-holder.bottom_right{
    right: 0;
}
.aveja-logo-holder.bottom_center{
    left: 45%;
}
#customer-reviews.bottom_right,  #customer-reviews.bottom_center, #customer-reviews.bottom_left{
    margin-bottom: 5px;
}
.review-section .ratings-table .rating-box{
    margin: 5px 0 0 15px;
}
.head .quesansheading {
    margin-bottom: 10px;
    color: #636363;
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.4;
    text-rendering: optimizeSpeed;
    text-transform: uppercase;
}
.extra-tabs-content #customer-reviews .avejana-pager .pager > .count-container
{
float:none  !important;
}
.extra-tabs-content #customer-reviews .avejana-pager .pager .pages
{
float:left !important;
margin-left:0 !important;
}
.extra-tabs-content #customer-reviews .avejana-rating-summary-right
{
width:150px !important;
}