<?xml version="1.0"?>
<config>
  <modules>
    <Avejana_AvejanaRMS>
      <version>0.1.0</version>
    </Avejana_AvejanaRMS>
  </modules>
  <frontend>
    <routers>
      <avejanarms>
        <use>standard</use>
          <args>
            <module>Avejana_AvejanaRMS</module>
            <frontName>avejanarms</frontName>
          </args>
      </avejanarms>
    </routers>
		<layout>
		  <updates>
			<avejanarms>
			  <file>avejanarms.xml</file>
			</avejanarms>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <avejanarms>
        <class>Avejana_AvejanaRMS_Helper</class>
      </avejanarms>
    </helpers>
	<blocks>
	  <avejanarms>
		<class>Avejana_AvejanaRMS_Block</class>
	  </avejanarms>
	  <catalog>
			<rewrite>
				<product_list>Avejana_AvejanaRMS_Block_Catalog_Product_List</product_list>
			</rewrite>
		</catalog>
		<!--<catalog>
			<rewrite>
				<product_view>Avejana_AvejanaRMS_Block_Catalog_Product_View</product_view>
			</rewrite>
		</catalog>
		
		<review>
			<rewrite>
				<product_view_list>Avejana_AvejanaRMS_Block_Product_View_Reviews</product_view_list>
			</rewrite>
		</review>-->
		<review>
			<rewrite>
				<helper>Avejana_AvejanaRMS_Block_Helper</helper>
			</rewrite>
		</review>

		<review>
			<rewrite>
				<product_view>Avejana_AvejanaRMS_Block_Product_View</product_view>
			</rewrite>
		</review>
		
	</blocks>
	<models>
	  <avejanarms>
		<class>Avejana_AvejanaRMS_Model</class>
		<resourceModel>avejanarms_mysql4</resourceModel>
	  </avejanarms>
	  <avejanarms_mysql4>
		<class>Avejana_AvejanaRMS_Model_Mysql4</class>
		<entities>		  
			  <avejana>
				<table>avejana</table>
			  </avejana>
        </entities>
	  </avejanarms_mysql4>
	</models>
	<resources>
	  <avejanarms_setup>
		<setup>
		  <module>Avejana_AvejanaRMS</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </avejanarms_setup>
	  <avejanarms_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </avejanarms_write>
	  <avejanarms_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </avejanarms_read>
	</resources>
	  <events>
		
			<controller_action_postdispatch_review_product_post>
				<observers>
					<export_review_to_avejana>
						<type>singleton</type>
						<class>Avejana_AvejanaRMS_Model_Observer</class>
						<method>export_review_to_avejana</method> 
					</export_review_to_avejana>
				</observers>
			</controller_action_postdispatch_review_product_post>
		  
		   <controller_action_postdispatch_allsales_data_to_avejana>
				<observers>
					<uploadsales>
						<type>singleton</type>
						<class>Avejana_AvejanaRMS_Model_Observer</class>
						<method>uploadsales</method> 
					</uploadsales>
				</observers>
			</controller_action_postdispatch_allsales_data_to_avejana>
		  
		  	<catalog_product_save_after>
				<observers>
					<export_product_to_avejana_after_save>
						<type>singleton</type>
						<class>Avejana_AvejanaRMS_Model_Observer</class>
						<method>export_product_to_avejana_after_save</method>
					</export_product_to_avejana_after_save>
				</observers>
			</catalog_product_save_after>
		  
		  <admin_system_config_changed_section_avejanasetting>
                <observers>
                    <mymodule>
                        <type>singleton</type>
                        <class>Avejana_AvejanaRMS_Model_Observer</class>
                        <method>handle_adminSystemConfigChangedSection</method>
                    </mymodule>
                </observers>
            </admin_system_config_changed_section_avejanasetting>
	  </events>
  </global>    
	<frontend>
		<events>
			<sales_order_place_after>
				<observers>
					<export_order_to_avejana_after_place>
						<type>singleton</type>
						<class>Avejana_AvejanaRMS_Model_Observer</class>
						<method>send_salesdata_to_avejana</method> 
					</export_order_to_avejana_after_place> 
				</observers>
			</sales_order_place_after>
		</events>
	</frontend>
    
</config> 